<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<%idt = []%>
<% if current_user.has_role? :admin %>
 
  <table class="table table-dark" style="width:100%">
    <thead class="thead-dark">
      <tr>
      <th>Manager Name</th>
      <th>Employee Name</th>
      </tr>
    </thead>
    <tbody>
      <% @managers.each do |t| %>
        <tr>
          <td><%= mangers_email(t.manager_user_id)%></td>
          <td><%= t.user.email%></td>
        </tr>
      <%end %>
    </tbody>
  </table>
<%else%>
<%if @test=="user"%>
<h1>Details</h1>
  <table class="table table-dark" style="width:100%">
    <tbody>
      <% @mys.each do |t| %>
        <%if current_user.id == t.manager_user_id%>
          <ul class = "media-list" style="list-style-type:square">
            <li class = "media">
              <div class = "media-body">
                <h4 class = "media-heading"><%= t.user.email%></h4>
                 <%= link_to "Show", my_update_path(id: t.user_id),class: "btn btn-primary"%>
                    <div class = "media" style="margin-left: 40px">
                      <a class = "media-left"> 
                       <% if Manager.where(manager_user_id: t.user.id).present? %>
                       <% Manager.where(manager_user_id: t.user.id).each do |emp| %>
                          <div class = "media" >
                          <h4 class = "media-left"><%= emp.user.email%></h4>
                          <%= link_to "Show", my_update_path(id: emp.user_id),class: 
                          "btn btn-primary "%> 
                          <% if Manager.where(manager_user_id: emp.user.id).present? %>
                          <% Manager.where(manager_user_id: emp.user.id).each do |empp| %>
                          <div class = "media" style="margin-left: 40px">
                          <h4 class = "media-left"><%= empp.user.email%></h4>
                          <%= link_to "Show", my_update_path(id: empp.user_id),class: 
                          "btn btn-primary "%> 
                          <% if Manager.where(manager_user_id: empp.user.id).present? %>
                          <% Manager.where(manager_user_id: empp.user.id).each do |emppp| %>
                          <div class = "media" style="margin-left: 40px">
                          <h4 class = "media-left"><%= emppp.user.email%></h4>
                          <%= link_to "Show", my_update_path(id: emppp.user_id),class: 
                          "btn btn-primary "%> 
                          <% if Manager.where(manager_user_id: emppp.user.id).present? %>
                          <% Manager.where(manager_user_id: emppp.user.id).each do |emppp| %>
                          <div class = "media" style="margin-left: 40px">
                          <h4 class = "media-left"><%= empppp.user.email%></h4>
                          <%= link_to "Show", my_update_path(id: empppp.user_id),class: 
                          "btn btn-primary "%> 
                          <% if Manager.where(manager_user_id: empppp.user.id).present? %>
                          <% Manager.where(manager_user_id: empppp.user.id).each do |emppp| %>
                          <div class = "media" style="margin-left: 40px">
                          <h4 class = "media-left"><%= emppppp.user.email%></h4>
                          <%= link_to "Show", my_update_path(id: emppppp.user_id),class: 
                          "btn btn-primary "%> 
                        </div>
                        <%end%>
                        <%end%>
                        
                        </div>
                        <%end%>
                        <%end%>
                        
                        </div>
                        <%end%>
                        <%end%>
                        
                        </div>
                        <%end%>
                        <%end%>

                        </div>
                        <%end%>
                        <%end%>
                      </a>          
                    </div>
              </div>
            </li>
          </ul>
        <%end%>
      <%end%>  
    </tbody>
  </table>
  <%else%>
  <%= form_for :search , url: my_updates_path ,method: :get do |f| %>
  <div class="field">
    <%= f.text_field :date, id: :date ,class: "datepicker"%>
   </div>
    <div>
  <% @managers.each do |t| %>
      <% if current_user.id == t.manager_user_id%>
          <% idt.push << t.user.id %>
  <%end%>
  <%end%>
    <%=f.hidden_field :idt, value: idt %>
  </div>
   <div class="actions" >
    <%= f.submit  %>
  </div>
 
  <%end%>
<script type="text/javascript">
  $(document).ready(function(){
    $( ".datepicker" ).datepicker({    
  dateFormat: 'dd-mm-YYYY'
  });
  });
</script>
<%end%>
<% end %>





<!-- manager = Manager.find(id)
employee = Manager.where(manager_user_id:manager.id)
employee 1
employee_under = Manager.where(manager_user_id:user_id)
end -->
