<div class="center jumbotron">
 <% unless current_user.nil? %>
 <% if current_user.has_role? :admin %>
 <h1>Welcome to the admin App</h1>
<%else%>
 <body style= background-color: transparent">
<h1> Welcome all of you</h1><br><br><br>
<p>Click on User to see the users work under you </p><br>
<p>Click on Updates to see all kind of updates </p><br>

</body>
<%end%> 
<%else%>
 <h1>Welcome to the our App</h1>
 <%end%>                
</div>	
 