<form action="/action_page.php" method="get" id="employee_manager">
  <th><b>Manager: <b></th><th></th>
  <select id="manager">
  <% @managers.select("DISTINCT(manager_user_id)").each do |t| %>

    <option value="<%= t.manager_user_id %>"><%= mangers_email(t.manager_user_id)%></option>
   <% end %>
  </select><td></td><td></td>

  <th><b>Employee:   <b></th><th></th>
  <select id="employee">
    <% @users.each do |user| %>
    <option value="<%= user.id %>"><%= user.email %></option>
    <% end %>
 </select> <br><br>

    

     <button id="save" type="button">Save</button> 

     <input type="hidden" name="employee" value="" id="employee_field">
     <input type="hidden" name="manager" value="" id="manager_field">
</form> 

 <script type="text/javascript">
   $('#save').on('click', function(){
      var employee = $('#employee').val();
      var manager = $('#manager').val();
      $('#employee_field').val(employee);
      $('#manager_field').val(manager);
      $('#employee_manager').submit();
   })
 </script>