<%= form_with(model: my_update, local: true) do |form| %>
  <% if my_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_update.errors.count, "error") %> prohibited this my_update from being saved:</h2>

      <ul>
      <% my_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- <input type="text" class='datepicker' > -->
 <div class="field">
    <%= form.text_field :date, id: :date ,class: "datepicker"%>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $( ".datepicker" ).datepicker({    
  dateFormat: 'dd-mm-YYYY'
  });
  });
</script>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :my_update_title %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :my_update_content %>
    <%#= hidden_field_tag :user_id, current_user.id%>
  </div>
  <div class="actions" >
    <%= form.submit  %>
  </div>
<% end %>
