<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<%if @type =="id"%>
<p id="notice"><%= notice %></p>
<h1>My Updates</h1>
<table>
  <thead>
    <tr>
      <th>Title</th><th></th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_updates.each do |my_update| %>
      <tr>
        <td><%= my_update.title %></td><td></td>
        <td><%= my_update.content %></td><td></td><td></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<p id="notice"><%= notice %></p>
<h1>My Updates</h1>
<table>
  <thead>
    <tr>
      <th>Title</th><th></th>
      <th>Content</th><th></th><th></th>
      <th>Email</th><th></th><th></th>
      <th>Date</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_updates.each do |my_update| %>
      <tr>
        <td><%= my_update.title %></td><td></td>
        <td><%= my_update.content %></td><td></td><td></td>
        <td><%= my_update.user.email %></td><td></td><td></td>
        <td><%= my_update.date%></td><td></td><td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>



