<p id="notice"><%= notice %></p>
<% @my_update.each do |t| %>
<p>
  <strong>Name:</strong>
  <%= t.user.email %>
</p>
<p>
  <strong>Title:</strong>
  <%= t.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= t.content %>
</p>
<p>
  <strong>Date:</strong>
  <%= t.date %>
</p>

<% end %>

