<p id="notice"><%= notice %></p>
<% @my_update.each do |updates| %>
<p>
  <strong>Title:</strong>
  <%= updates.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= updates.content %>
</p>

<%= link_to 'Edit', edit_my_update_path(@my_update) %> |
<%= link_to 'Back', my_updates_path %>
<% end %>