@import "bootstrap-sprockets";
@import "bootstrap";


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  padding-top: 35px;
  font-size: 3em;
  letter-spacing: -2px;
    text-align: center;

  margin-bottom: 0px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h6 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
