

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
         <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
         </li>

        <% else %>
          <li>
            <%= link_to('LOGIN', new_user_session_path)  %>  
          </li>
        <% end %>
        <% unless current_user.nil? %>
          <% if current_user.has_role? :admin %>
            <li>
              <%= link_to('Action', users_path ) %> 
           </li>
           <li>
              <%= link_to('Details', manager_index_path ) %> 
           </li>
          <% else %>
          <li>
              <%= link_to('Users',manager_index_path(test: 'user')) %> 
           </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Updates <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <li><%= link_to('Add new',  new_my_update_path )  %></li>
             <li> <%= link_to('My updates', my_updates_path(id: current_user.id) )  %>  </li>
             <li> <%= link_to('All updates',manager_index_path)  %>  </li>
            </ul>
          </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
